.intro2 
  position: relative
  display: flex
  min-height: 0
  flex-direction: column
  overflow: scroll

.intro2 h1
  text-align: center

.intro2 .intro-back
  position: fixed
  bottom: 75px
  right: 10vw
  color: #fff
  background-color: blue
  font-weight: bold
  cursor: vertical-text

.intro2 article
  flex: 1
  column-width: 13em
  column-gap: 0.5em


.intro2 article section 
  box-sizing:  border-box
  display: inline-block
  margin:  0.25rem
  padding:  1rem
  width:  100%
  border: 0.1em solid black

.intro2 article section p
  font-size: 14px
  text-align:  left
  margin:  1rem 0
